extends ./layout.jade

block title
  title= section.title
  
block content
  .container-fluid
    .post-header-image(style="background-image:url('" + baseUrl + "resources/images/" + section.headerImageUri + "')")
    .row
      .col-xs-12.col-sm-8
        ul.media-list(style='margin-top:50px')
          each post in section.content
            li.media(style='margin-top:50px')
              a.media-left(href='/post/' + post.id + '.html')
                img(src='/resources/images/' + post.featureImageUri, alt=post.featureImageAltText )
              .media-body
                h4.media-heading= post.title + ' '
                  small= post.publishDate
                p= post.description + ' '
                  | (
                  a(href='/post/' + post.id + '.html')= ' Learn more '
                  | )
      .col-sm-4
    include footer.jade
